<section class="hero">
  <div class="hero__photo">
    <img src="assets/img/profile.jpeg" alt="Foto de perfil">
  </div>

  <div class="hero__content">
    <h1>Mateus Pinheiro da Rocha</h1>
    <h2>Desenvolvedor Full Stack | Java/Spring Boot • C#/.NET • Angular</h2>
    <p>Graduando Ciência da Computação no Instituto Federal de Ciência e Tecnologia do Ceará (IFCE)</p>

    <div class="hero__socials">
      <a href="https://github.com/Mateus-Rocha1" target="_blank" aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/mateus-pinheiro-da-rocha-5937a437b" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://instagram.com/mateusspinheiiro" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="mailto:mateusprocha14@gmail.com" aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</section>