<section class="about">
  <h2 class="about__title">SOBRE MIM</h2>

  <div class="about__content">

    <div class="about__text">
      <h3>Desenvolvedor Full Stack</h3>

      <p>
        Graduando em Ciência da Computação no Instituto Federal de Ciência e Tecnologia do Ceará(IFCE).
        Atuo em desenvolvimento web com foco em Spring Boot, .NET e Angular.
      </p>

      <p>
        Já tive três experiêcias práticas em projetos reais por meio de laboratórios da minha faculdade
      </p>

      <p>
        Já desenvolvi dois projetos pessoais o ratingUp e o meu portfolio, agora estou desenvolvendo um sistema de gestão financeira
      </p>

      <p>
        tecnologias já trabalhadas:
         linguagens: Java,C#, typescript , frameworks:Spring Boot, .NET, Angular, bancos de dados: Postgres, Mysql e ferramentas:Docker, Github Actions, Git
      </p>

      <p>
        Busco estágio em desenvolvimento de software para ampliar minha experiência técnica e contribuir com equipes e projetos de software.
      </p>
    </div>
  </div>
</section>