<section class="about">
  <h2 class="about__title">SOBRE MIM</h2>

  <div class="about__content">

    <div class="about__text">

      <p>
        •  Graduando em Ciência da Computação no Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), com experiência prática em desenvolvimento full-stack e backend. Atuo principalmente com Java/Spring Boot, C#/.NET e Angular, além de trabalhar com APIs REST, bancos de dados, Docker, AWS, CI/CD e arquitetura de microsserviços.
      </p>

      <p>
        • Já participei do desenvolvimento de diferentes sistemas por meio de laboratórios do IFCE, atuando em projetos que envolvem desde plataformas SaaS até sistemas internos e soluções para clientes privados.
      </p>

      <p>
        • Também desenvolvi projetos pessoais, como o RatingUp e este portfólio, e atualmente estou desenvolvendo um sistema de gestão financeira.
      </p>

      <p>
        • Busco uma oportunidade de estágio em desenvolvimento de software para ampliar minha experiência técnica, trabalhar em equipe e continuar evoluindo como desenvolvedor.
      </p>
    </div>
  </div>
</section>